<!-- 블로그에서 그대로 긁어옴 -->

<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Node.js 주특기 1주차</h1>
      </div>

    </div>
  </body>
</html>