<!-- 블로그에서 그대로 긁어옴 -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">처음으로</a></li>
          <li class="breadcrumb-item"><a href="/posts">게시판</a></li>          
        </ol>
      </nav>

      <form action="/posts" method="post">

        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" id="title" name="title" value="" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="body">내용</label>
          <textarea id="body" name="body" rows="5" class="form-control"></textarea>
        </div>

        <div>
          <a class="btn btn-primary" href="/posts">돌아가기</a>
          <button type="submit" class="btn btn-primary">글 등록</button>
        </div>

      </form>

    </div>
  </body>
</html>